@import "../../utils/variables.scss";

footer {
  margin: 0;
  padding: 0;

  background: $brand-linear-gradient;

  .content {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 4rem;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  a {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-wrap: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  .social-link {
    fill: white;
  }

  svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
  }

  .links {
    display: flex;

    a {
      margin-right: 2rem;
    }
  }
}

@media (min-width: $mobile-width-breakpoint) {
  footer {
    .content {
      justify-content: space-between;
      flex-direction: row;
    }

    .mentions {
      align-self: center;
    }

    .links {
      flex-direction: row;
      align-items: center;

      a:has(svg) {
        margin: 0;
      }
    }
  }
}

@media (max-width: calc($mobile-width-breakpoint - 1px)) {
  footer {
    .content {
      flex-direction: column;
    }
  }
}
