@import "../../utils/variables.scss";

@mixin button-base($basePadding: 1rem) {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 1.2rem 1.6rem;

  border-radius: 0.8rem;

  text-decoration: none;
  color: white;

  > span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    line-height: 1;
  }

  &:not(.light) {
    color: white;
    background-color: $blue-dark;
  }

  &.light {
    border: 1px solid $blue-dark;
    color: $blue-dark;
    background-color: transparent;
  }
}
