@import "../../utils/variables.scss";

@mixin button-base($basePadding: 1rem) {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 1rem;

  border-radius: 0.5rem;

  text-decoration: none;
  color: white;

  > span {
    display: inline-flex;
    margin-left: 1rem;
    width: 0.8em;
    height: 0.8em;
  }

  &:not(.light) {
    color: white;
    background-color: $blue-dark;
  }

  &.light {
    border: 1px solid $blue-dark;
    color: $blue-dark;
    background-color: transparent;
  }
}
