@import "../../utils/variables.scss";

.features-component {
  &.page {
    padding: 0;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  dl > div {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex-basis: 20%;
    flex-grow: 0;
  }

  dt {
    display: flex;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    background-color: white;
    border-radius: 4rem;
  }

  dd {
    margin: 2rem 0;
    text-align: center;
  }

  img {
    width: 100%;
  }
}

@media (max-width: calc($mobile-width-breakpoint - 1px)) {
  .features-component {
    dt {
      padding: 2rem;
      border-radius: 2rem;
    }
  }
}
