@import "../../utils/variables.scss";

.features-component {
  dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  dl > div {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex-basis: 20%;
    flex-grow: 0;
  }

  dt {
    display: flex;
    background-color: white;
    border-radius: 4rem;
  }

  dd {
    margin: 2rem 0;
  }

  h5 {
    font-size: 2.2rem;
  }

  img {
    width: 6rem;
    height: 6rem;
  }
}

@media (max-width: calc($mobile-width-breakpoint - 1px)) {
  .features-component {
    dt {
      padding: 2rem;
      border-radius: 2rem;
    }
  }
}
