.features-component {
  &.page {
    padding: 0;
  }

  dl {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 25%));
    gap: auto;
  }

  dl > div {
    padding: 2rem;
    flex-direction: column;
    justify-content: space-around;
  }

  dt {
    display: inline-grid;
    place-content: center;
    aspect-ratio: 1;
    padding: 4rem;
    background-color: white;
    border-radius: 4rem;
  }

  dd {
    margin: 2rem 0;
    text-align: center;
  }

  img {
    height: 100%;
    width: 100%;
  }
}