.hero-component {
  $maxWidth: 50rem;

  height: calc(100vh - 12rem);
  align-content: center;

  background-image: url(../../assets/dots.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right center;

  label {
    margin-right: 2rem;
    border-radius: 2rem;
    padding: 1rem;
    background-color: #b3aaff;
    color: black;
  }

  h2 {
    width: $maxWidth;
    margin: 4rem 0 2rem 0;
    font-size: 3.6rem;
    font-weight: 700;
  }

  p {
    width: $maxWidth;
    font-size: 2.4rem;
    font-weight: 100;
  }
}
