@import "../../utils/variables.scss";

.hero-component {
  display: flex;
  height: calc(100vh - 12rem);
  align-content: center;

  background-image: url(../../assets/v2/world.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center calc(100% + 9rem);

  .hero-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    height: 100%;
  }
  .button-like {
    font-size: 2rem;
  }

  h2 {
    margin: 4rem auto 2rem auto;
    padding-top: 20vh;
    max-width: 110rem;

    font-size: 6rem;
    font-weight: 100;
    text-align: center;
  }

  p {
    margin: 2rem auto;
    max-width: 80rem;

    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: calc($mobile-width-breakpoint - 1px)) {
  .hero-component {
    .hero-content {
      margin: 0 4rem;
    }

    h2 {
      padding-top: 6vh;
      font-size: 3rem;
    }

    p {
      font-size: 1.4rem;
    }
  }
}
