@import "../../utils/variables.scss";

.mission-component {
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    background: $brand-linear-gradient;
  }
}

@media (min-width: $mobile-width-breakpoint) {
  .mission-component {
    ul {
      margin-top: 4rem;
      display: flex;
      justify-content: center;
    }

    li {
      width: 20%;
      margin-right: 8rem;
      display: inline-grid;
      place-content: center;
      aspect-ratio: 1;

      padding: 2rem;
      text-align: center;
    }
  }
}

@media (max-width: calc($mobile-width-breakpoint - 1px)) {
  .mission-component {
    li {
      margin: 2rem;
      padding: 2rem;
    }
  }
}
