@import "../../utils/variables.scss";

.product-component {
  display: flex;

  > div {
    summary {
      font-weight: bold;

      &::marker {
        text-align: right;
      }
    }
  }

  > img {
    border-radius: 2rem;
    display: inline-grid;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

@media (width >= $mobile-width-breakpoint) {
  .product-component {
    justify-content: space-between;

    > div {
      width: 58%;
    }

    > img {
      width: 38%;
    }
  }
}

@media (width < $mobile-width-breakpoint) {
  .product-component {
    flex-direction: column;

    > img {
      max-width: 50%;
    }
  }
}
