@import "../../utils/variables.scss";

.services-component {
  h3 {
    margin-left: 3rem;
  }

  &.page {
    padding-bottom: 8rem;
  }

  .head {
    display: flex;
    margin-bottom: 8rem;
    flex-direction: column;
    justify-items: center;

    border-radius: 1rem;
    background: linear-gradient(to bottom, rgba(125, 130, 255, 0.15) 0%, rgba(125, 130, 255, 0) 50%);

    p {
      max-width: 80%;
      text-align: center;
      margin: 2rem auto;
      line-height: 1.8;
    }

    &:not(:first-of-type) {
      margin-top: 4rem;
    }
  }

  h4 {
    margin: 0 auto;
    margin-top: 8rem;
    font-size: 6rem;
    font-weight: 100;
    text-align: center;
  }

  .carousel {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;

    > div {
      display: flex;
      flex-direction: column;

      padding: 4rem;
      background-color: #0a283c08;
      border-radius: 1rem;
    }

    h5 {
      font-size: 22px;
      font-weight: 500;
      color: $blue-dark;
    }

    p {
      font-size: 18px;
    }
  }

  .icon {
    width: 2rem;
    height: 2rem;
    margin-bottom: 2rem;
  }

  .section-divider-wrapper {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .section-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 5%;
    width: 100%;
    box-sizing: border-box;

    img {
      height: auto;
    }

    .line {
      flex: 1;
      height: 1px;
      background-color: $very-light-gray;
    }
  }

  @media (max-width: 768px) {
    .section-divider {
      gap: 1rem;

      img {
        width: 260px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .services-component .head a.button-like {
    font-size: 1.8rem;
  }
}

@media (min-width: $mobile-width-breakpoint) {
  .services-component {
    .carousel > div {
      width: calc(40% - 4rem);
    }
  }
}

@media (max-width: calc($mobile-width-breakpoint - 1px)) {
  .services-component {
    h4 {
      font-size: 3rem;
    }
  }
}

.services-component {
  .custom-tabs .ant-tabs-tab .ant-tabs-tab-btn,
  .custom-tabs2 .ant-tabs-tab .ant-tabs-tab-btn {
    color: $very-blue-dark;
  }
  .ant-tabs-ink-bar {
    background: $blue-dark;
  }
}

.custom-tabs .ant-tabs-nav .ant-tabs-tab,
.custom-tabs2 .ant-tabs-nav .ant-tabs-tab {
  padding-bottom: 3rem;
}

.custom-tabs .ant-tabs-nav {
  justify-content: flex-start;
  padding-left: 7rem;
}

.custom-tabs .ant-tabs-tab {
  flex: 1;
}

.custom-tabs .ant-tabs-tab,
.custom-tabs2 .ant-tabs-tab {
  justify-content: flex-start;
  padding-left: 1.5rem;
}

.custom-tabs2 .ant-tabs-nav {
  justify-content: flex-start;
  padding-left: 7rem;
}

.custom-tabs2 .ant-tabs-tab {
  justify-content: flex-start;
  text-align: left;
}

.custom-tabs .ant-tabs-nav,
.custom-tabs2 .ant-tabs-nav {
  position: relative;
  z-index: 0;
}

.custom-tabs .ant-tabs-nav::before,
.custom-tabs2 .ant-tabs-nav::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  border-bottom: 2px solid $very-light-gray;
  z-index: 0;
}

@media (max-width: 768px) {
  .custom-tabs .ant-tabs-nav::before,
  .custom-tabs2 .ant-tabs-nav::before {
    //width: 100%;
    left: 0;
    transform: none;
    z-index: 0;
  }
}

.custom-tabs .ant-tabs-content-holder,
.custom-tabs2 .ant-tabs-content-holder {
  margin-top: 40px;
}

.services-component .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap {
  white-space: unset;
}

.ant-tabs-nav-list {
  flex: 1;
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}

.accordion-view {
  .slick-slide {
    display: flex;
    align-items: stretch;
    height: 100%;
  }
  .carousel-slide {
    height: 100%;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .ant-carousel {
    margin-bottom: 2rem;
  }

  .slick-dots {
    margin-top: 5rem;
    position: relative;
  }

  margin-left: -1rem;
  margin-right: -1rem;

  .slick-prev::before,
  .slick-next::before {
    color: $blue-dark;
    font-size: 28px;
    opacity: 1;
    transition: color 0.3s;
  }

  .slick-prev:hover::before,
  .slick-next:hover::before {
    color: $very-blue-dark;
  }

  .ant-collapse-arrow {
    display: none;
  }

  @media (max-width: 768px) {
    .ant-collapse-item:first-of-type {
      border-top: 1px solid $very-light-gray;
      border-radius: 0;
    }
  }
  .carousel-slide {
    padding: 2rem;
    background-color: $gray-light;
    border-radius: 1rem;
    max-width: 100%;

    h5 {
      font-size: 20px;
      font-weight: 500;
      color: $blue-dark;
      margin-top: 1rem;
    }

    p {
      font-size: 16px;
      margin-top: 1rem;
    }

    .icon {
      width: 2rem;
      height: 2rem;
      margin-bottom: 1.5rem;
      margin-top: 3rem;
      display: inline-block;
    }
  }
}

@media (max-width: 768px) {
  main .page {
    margin: 0;
    padding: 1rem 1rem;
    max-width: 100%;
    border-radius: 0;
  }
  .ant-collapse {
    background: none;
    border: none;
  }

  .ant-collapse-item {
    border: none;
    background: none;
  }

  .ant-collapse-header {
    position: relative;
    padding-right: 2.5rem;
    background: none;
    padding: 1.5rem 0;
    font-size: 18px;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 3rem;
      width: 1.2rem;
      height: 1.2rem;
      background-image: url("../../assets/v2/Icone_Fleche_UP.png");
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateY(-50%);
      transition:
        transform 0.3s ease,
        background-image 0.3s ease;
    }
  }

  .ant-collapse-item-active > .ant-collapse-header::before {
    background-image: url("../../assets/v2/Icone_Fleche_DOWN.png");
  }

  .services-component .accordion-view .ant-collapse .ant-collapse-header {
    color: $blue-dark;
  }
  .services-component .accordion-view .ant-collapse .ant-collapse-content {
    background: none;
    border: none;
    padding: 1.5rem 0;
    border-top: none;
    background-color: transparent;
  }
  .services-component .accordion-view .ant-carousel {
    .slick-dots li {
      width: 12px;
      height: 12px;
      margin: 0 6px;

      button {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid $blue-dark;
        background-color: transparent;
        opacity: 1;
        transition:
          background-color 0.3s,
          border-color 0.3s;
      }

      &.slick-active button {
        background-color: $blue-dark;
        border-color: $blue-dark;
      }
    }

    .slick-dots li::after {
      display: none;
    }
  }

  .services-component
    .accordion-view
    :where(.ant-collapse)
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow {
    display: none;
  }
}

.button-like.light {
  border: 1px $blue-dark;
  color: $blue-dark;
  background-color: transparent;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: $blue-dark;
    color: white;
  }
}
