@import "../../utils/variables.scss";

.services-component {
  &.page {
    padding-bottom: 8rem;
  }

  .head {
    display: flex;
    margin-bottom: 8rem;
    flex-direction: column;
    justify-items: center;

    border-radius: 1rem;
    background: linear-gradient(to bottom, rgba(125, 130, 255, 0.15) 0%, rgba(125, 130, 255, 0) 50%);

    p {
      max-width: 80%;
      text-align: center;
      margin: 2rem auto;
    }

    &:not(:first-of-type) {
      margin-top: 4rem;
    }
  }

  h4 {
    margin: 0 auto;
    margin-top: 8rem;
    font-size: 6rem;
    font-weight: 100;
    text-align: center;
  }

  .carousel {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;

    > div {
      width: 40%;
      display: flex;
      flex-direction: column;

      padding: 4rem;
      background-color: #0a283c08;
      border-radius: 1rem;
    }

    h5 {
      margin: 0;
      font-size: 1.8rem;
    }
  }
}

@media (min-width: $mobile-width-breakpoint) {
  .services-component {
  }
}

@media (max-width: calc($mobile-width-breakpoint - 1px)) {
  .services-component {
    h4 {
      font-size: 3rem;
    }
  }
}
