@import "../../utils/variables.scss";

.vision-component {
  background-color: #0a283c;

  p {
    margin: 10rem auto;
    width: 60%;

    font-size: 4.5rem;
    font-weight: 100;
    color: white;
  }
}

@media (max-width: calc($mobile-width-breakpoint - 1px)) {
  .vision-component {
    p {
      font-size: 2.4rem;
    }
  }
}
