@use "src/components/Button/ButtonComponent.scss";
@import "../../utils/variables.scss";

.header-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;

  &.is-scrolled {
    background: $brand-linear-gradient;
  }

  h1 {
    margin: 0;
    padding: 0;

    font-family: "Inter";
    letter-spacing: 0.2rem;
    font-weight: 300;

    a {
      text-decoration: none;
      color: white;
    }
  }

  h1 a {
    display: flex;
    align-items: center;
  }

  nav ul {
    display: flex;

    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  nav li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      margin-left: 1em;
    }
  }

  a.button-like {
    @include ButtonComponent.button-base();

    text-decoration: none;
    background-color: white;
    color: black;
  }
}

@media (min-width: calc($mobile-width-breakpoint)) {
  .header-component.mobile {
    display: none;
  }

  .header-component.desktop {
    padding: 4rem;

    nav li {
      margin: 0 1rem;
    }

    img {
      margin-right: 1rem;
      height: 6rem;
      width: 6rem;
    }

    h1 {
      font-size: 3.6rem;
    }
  }
}

@media (max-width: calc($mobile-width-breakpoint - 1px)) {
  .header-component.desktop {
    display: none;
  }

  .header-component.mobile {
    padding: 2rem;

    ::marker,
    ::-webkit-details-marker {
      display: none;
    }

    &:has(details[open]) {
      background: $brand-linear-gradient;
    }

    img {
      margin-right: 1rem;
      width: 3rem;
      height: 3rem;
    }

    h1 {
      font-size: 2.4rem;
    }

    nav ul {
      align-items: flex-end;
      flex-direction: column;
    }

    nav li {
      margin: 0.5rem 0;
    }

    nav .actions {
      flex-direction: column;
      justify-content: flex-end;

      margin-top: 2rem;

      font-size: 2.4rem;

      a {
        width: 50%;
        flex: 1;
        justify-content: space-between;

        margin-bottom: 1rem;
      }

      span {
        font-size: 2.4rem;
      }
    }

    details {
      flex: 1;

      .expanded-indicator {
        &::before {
          // the ☰ looks off without this ugly hack
          margin-top: -0.3rem;

          content: "\2630";
        }
      }

      &[open] .expanded-indicator {
        &::before {
          margin-top: 0rem;

          content: "\2715";
        }
      }
    }

    summary {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 4rem;
    }

    summary .expanded-indicator {
      display: flex;
      margin-left: auto;
    }
  }
}
