@use "src/components/Button/ButtonComponent.scss";
@import "../../utils/variables.scss";

.header-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;

  padding: 4rem;

  &.is-scrolled {
    background: $brand-linear-gradient;
  }

  h1 {
    margin: 0;
    padding: 0;

    font-family: "Inter";
    letter-spacing: 0.2rem;
    font-weight: 300;

    a {
      text-decoration: none;
      color: white;
    }
  }

  h1 a {
    display: flex;
    align-items: center;
  }

  nav ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
    display: flex;
  }

  nav li {
    margin-right: 4rem;
  }

  nav li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      margin-left: 1em;
    }
  }

  a.button-like {
    @include ButtonComponent.button-base();

    text-decoration: none;
    background-color: white;
    color: black;
  }
}

@media (width >= 1024px) {
  .header-component.mobile {
    display: none;
  }

  .header-component.desktop {
    img {
      margin-right: 1rem;
      height: 6rem;
      width: 6rem;
    }

    h1 {
      font-size: 3.6rem;
    }
  }
}

@media (width < 1024px) {
  .header-component.desktop {
    display: none;
  }

  .header-component.mobile {

    &:has(details[open]) {
      background: $brand-linear-gradient;
    }

    img {
      margin-right: 1rem;
      width: 3rem;
      height: 3rem;
    }

    h1 {
      font-size: 2.4rem;
    }

    nav ul {
      align-items: flex-end;
      flex-direction: column;
    }

    nav li {
      margin: 0;
    }

    details {
      flex: 1;

      .expanded-indicator {
        &::before {
          display: block;
          content: "\2630";
        }
      }

      &[open] .expanded-indicator {
        &::before {
          content: "\2715";
        }
      }
    }

    summary {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 4rem;
    }

    summary .expanded-indicator {
      display: flex;
      margin-left: auto;
    }
  }
}
