@import "../../utils/variables.scss";

table,
td,
th {
  border: 1px solid $blue-dark;
  border-collapse: collapse;
}

table {
  margin-bottom: 3rem;
}

th {
  background-color: $gray-light;
}

td {
  padding: 0.5rem;
}
